
@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-8 col-xs-8 padding-30 options">
            <div class="list-group">
                <label class="list-group-item"><b>Trams:</b></label>
                <!--TODO: FORLOOP-->
                <input type="button" class="list-group-item text-center" value="202" />
                <!--Must-->
                <input type="button" class="btn-primary text-center" value="Add" />
            </div>
        </div>

        <div class="col padding-50">
            <div class="row padding-bot">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="31">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorRed" value="1">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="32">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorBlue" value="5">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item colorReserved" value="202">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="33">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorYellow" value="8">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center colorBlocked" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="34">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorGreen" value="3">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="35">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorPurple" value="9">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
            </div>

            <div class="row padding-bot">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="31">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorRed" value="1">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="32">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorBlue" value="5">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="33">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorYellow" value="8">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="34">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorGreen" value="3">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center colorBlocked" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="35">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorPurple" value="9">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col padding-50">
            <div class="row padding-bot">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="31">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorRed" value="1">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="32">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorBlue" value="5">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="33">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorYellow" value="8">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="34">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorGreen" value="3">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center" value="">
                        <input type="button" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="35">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorPurple" value="9">
                        <!--Sectors-->
                        <input type="button" class="list-group-item text-center colorBlocked" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>