
@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-8 col-xs-8">
            <div class="list-group">
                <label class="list-group-item"><b>Trams:</b></label>
                <input type="button" class="list-group-item text-center" value="2020" />
                <input type="button" class="btn-primary text-center" value="Add" />
            </div>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="list-group">
                <!--Rail-->
                <input type="button" class="list-group-item text-center" value="31">
                <!--Sectors-->
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="list-group">
                <!--Rail-->
                <input type="button" class="list-group-item text-center" value="32">
                <!--Sectors-->
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="list-group">
                <!--Rail-->
                <input type="button" class="list-group-item text-center" value="33">
                <!--Sectors-->
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="list-group">
                <!--Rail-->
                <input type="button" class="list-group-item text-center" value="34">
                <!--Sectors-->
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="list-group">
                <!--Rail-->
                <input type="button" class="list-group-item text-center" value="35">
                <!--Sectors-->
                <input type="button" class="list-group-item text-center" value="">
                <input type="button" class="list-group-item text-center" value="">
            </div>
        </div>
    </div>