
@{
    ViewData["Title"] = "Index";
}

    <div class="addPopUp" id="addPopUpContainer">
        <input type="number" />
        <select id="Spoor" name="Spoor">
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="60">60</option>
            <option value="61">61</option>
            <option value="62">62</option>
            <option value="63">63</option>
            <option value="64">64</option>
        </select>
        <select id="Sector" name="Sector">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <input type="button" id="addCancel" class="btn-danger" value="Cancel" />
        <input type="button" id="addAccept" class="btn-success" value="Accept" />
    </div>

    <div class="wijzigPopUp" id="wijzigPopUpContainer">
        <label id="spoorSector">Spoor 32, Sector 2</label>
        <input type="number" value="202"/>
        <select id="wijzigSpoor" name="Spoor">
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="31">31</option>
            <option selected="selected" value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="60">60</option>
            <option value="61">61</option>
            <option value="62">62</option>
            <option value="63">63</option>
            <option value="64">64</option>
        </select>
        <select id="wijzigSector" name="Sector">
            <option value="1">1</option>
            <option selected="selected" value="2">2</option>
            <option value="3">3</option>
        </select>
        <input type="button" id="wijzigDelete" class="btn-warning" value="Delete" />
        <input type="button" id="wijzigCancel" class="btn-danger" value="Cancel" />
        <input type="button" id="wijzigAccept" class="btn-success" value="Accept" />
    </div>

    <div class="sectorPopUp" id="sectorPopUpContainer">
        <label id="spoorSector">Spoor , Sector</label>
        <input type="number" />
        <select id="Spoor" name="Spoor">
            <option value="Operationeel">Operationeel</option>
            <option value="Kapot">Kapot</option>
            <option value="Vies">Vies</option>
            <option value="Vies en Kapot">Vies en Kapot</option>
        </select>
        <input type="button" id="freeUp" class="btn-warning" value="Free up" />
        <label>geblockeerd</label><input type="checkbox" id="blocked" value="Blocked" />
        <input type="button" id="sectorCancel" class="btn-danger" value="Cancel" />
        <input type="button" id="sectorAccept" class="btn-success" value="Accept" />
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-8 col-xs-8 padding-30 options">
            <div class="list-group">
                <label class="list-group-item"><b>Trams:</b></label>
                <!--TODO: FORLOOP-->
                <input type="button" class="list-group-item text-center" onclick="openWijzigDiv()" value="202" />
                <!--Must-->
                <input type="button" id="addPopUp" class="btn-primary text-center" value="Add"/>
            </div>
        </div>

        <div class="col padding-50">
            <div class="row padding-bot">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="31">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorRed" value="1">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(31,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(31,2)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="32">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorBlue" value="5">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(32,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(32,3)" class="list-group-item text-center colorReserved" value="202">
                        <input type="button" onclick="openSectorDiv(32,3)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="33">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorYellow" value="8">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(33,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(33,2)" class="list-group-item text-center colorBlocked" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="34">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorGreen" value="3">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(34,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(34,2)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="35">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorPurple" value="9">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(35,1)" class="list-group-item text-center" value="">
                    </div>
                </div>
            </div>

            <div class="row padding-bot">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="10">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorYellow" value="8">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(10,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(10,2)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="11">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorPurple" value="9">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(11,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(11,2)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(11,3)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="12">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorBlue" value="5">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(12,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(12,2)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="13">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorRed" value="1">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(13,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(13,2)" class="list-group-item text-center colorBlocked" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="14">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorGreen" value="3">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(14,1)" class="list-group-item text-center" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col padding-50">
            <div class="row padding-bot">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="60">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorOrange" value="4">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(60,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(60,2)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="61">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorGreen" value="3">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(61,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(61,2)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(61,3)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="62">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorBlue" value="5">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(62,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(62,2)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="63">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorOrange" value="4">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(63,1)" class="list-group-item text-center" value="">
                        <input type="button" onclick="openSectorDiv(63,2)" class="list-group-item text-center" value="">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                        <input type="button" class="list-group-item text-center" value="64">
                        <!--Line-->
                        <input type="button" class="list-group-item text-center colorYellow" value="8">
                        <!--Sectors-->
                        <input type="button" onclick="openSectorDiv(64,1)" class="list-group-item text-center colorBlocked" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        //Add Popup
        var addPopUpContainer = document.getElementById("addPopUpContainer");
        addPopUpContainer.style.visibility = 'hidden';

        document.getElementById("addCancel").onclick = function () { closeAddDiv() };
        document.getElementById("addAccept").onclick = function () { closeAddDiv() };
        function closeAddDiv() {
            addPopUpContainer.style.visibility = 'hidden';
        }

        document.getElementById("addPopUp").onclick = function () { openAddDiv() };
        function openAddDiv() {
            addPopUpContainer.style.visibility = 'visible';
        }

        //Wijzig Popup
        var wijzigPopUpContainer = document.getElementById("wijzigPopUpContainer");
        wijzigPopUpContainer.style.visibility = 'hidden';

        document.getElementById("wijzigCancel").onclick = function () { closeWijzigDiv() };
        document.getElementById("wijzigAccept").onclick = function () { closeWijzigDiv() };
        document.getElementById("wijzigDelete").onclick = function () { closeWijzigDiv() };
        function closeWijzigDiv() {
            wijzigPopUpContainer.style.visibility = 'hidden';
        }

        function openWijzigDiv() {
            wijzigPopUpContainer.style.visibility = 'visible';
        }

        //Sector Popup
        var sectorPopUpContainer = document.getElementById("sectorPopUpContainer");
        sectorPopUpContainer.style.visibility = 'hidden';

        document.getElementById("sectorCancel").onclick = function () { closeSectorDiv() };
        document.getElementById("sectorAccept").onclick = function () { closeSectorDiv() };
        function closeSectorDiv() {
            sectorPopUpContainer.style.visibility = 'hidden';
        }

        function openSectorDiv(Rail, Sector) {
            document.getElementById("spoorSector").innerHTML = 'Spoor ' + Rail.toString() + ", Sector " + Sector.toString();
            sectorPopUpContainer.style.visibility = 'visible';
        }
    </script>